<html>
    <body>
        <h2>HTML Forms</h2>

        <form action="/getresults" method='post'>
            <label for="science">Science:</label><br>
            <input type="text" id="science" name="science" value="0"><br>
            <label for="Maths">Maths:</label><br>
            <input type="text" id="Maths" name="Maths" value="0"><br>
            <label for="C">C:</label><br>
            <input type="text" id="C" name="C" value="0"><br>
            <label for="datascience">Data Science:</label><br>
            <input type="text" id="datascience" name="datascience" value="0"><br>
            <input type="submit" value="Submit">
        </form>

        <p>if you click submit the form data will be sent to a page called '/submit'.</p>
    </body>
</html>